html {
  overflow-x:hidden;
}
.header {
  border: 4px solid black;
  display: flex;
  border-top:1px solid black;

}

.logo {
  flex-basis: 100px;
  justify-content: center;
}

.left_side {
  border: 6px solid grey;

  width: 15%;
  height: 100%;
  background: black;
  position:absolute;

}

.right_side {
  border: 6px solid grey;
  width: 15%;
  height: 100%;
  background: black;
  position: absolute;
  right: 0;

}

.li {
  color: rgba(219, 215, 215, 1);
  line-height: 4;
  font-family: Georgia, 'Times New Roman', Times, cursive;
  font-style: italic;
}

#one_line {
  font-variant: small-caps;
}

#five_line {
  color:black
}

#link {
  text-decoration: none;
}


.main_body {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;
  border: 3px solid rgb(206, 202, 208);
  border-radius: 10px;
  background-color: rgb(229, 230, 224);
}

.body {
  background: black;
}

.h1 {
  text-align: center;
  font-family: 'Zen Tokyo Zoo', cursive;
}
.p {
  text-align: justify;
  font-family: 'Encode Sans SC', sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-bottom: 2px solid black;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.footer {
  flex: 0 0 auto;
  background: black;
}
